*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(57, 180, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(10, 30, 121);
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mat-nome{
    width: 80%;
}