*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(243, 140, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(204, 226, 6);
    font-size: 28px;
    font-family:'Georgia, Times, 'Times New Roman', sans-serif;
}

#proj-nome{
    width: 80%;
}